.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.meals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 30px;
  margin: 20px;
  padding: 30px;
}
.meal-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
